<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Name</key>
			<string>DSDTorg_rtc4.aml</string>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
				<key>AddDTGP_0001</key>
				<true/>
			</dict>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
			<key>SortedOrder</key>
			<array>
				<string>SSDT-PNLF_144.aml</string>
				<string>SSDT-PLUG-DRTNIA.aml</string>
				<string>SSDT-EC-USBX.aml</string>
				<string>SSDT-UIAC-132.aml</string>
			</array>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string> brcmfx-driver=2 dart=0 nv_disable=1 kext-dev-mode=1 -v </string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>IgnoreNVRAMBoot</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>YES</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>UseIntelHDMI</key>
			<false/>
		</dict>
		<key>#PciRoot(0x0)/Pci(0x1c,0x3)/Pci(0x0)</key>
		<dict>
			<key>pci-aspm-default</key>
			<integer>0</integer>
		</dict>
		<key>PciRoot(0x0)/Pci(0x1c,0x3)/Pci(0x0,0x0)</key>
		<dict>
			<key>compatible</key>
			<string>pci14e4,4331</string>
			<key>pci-aspm-default</key>
			<integer>0</integer>
			<key>AAPL,slot-name</key>
			<string>Internal@0,28,3/0,0</string>
			<key>device_type</key>
			<string>Network controller</string>
			<key>model</key>
			<string>BCM4350 802.11ac Wireless Network Adapter</string>
		</dict>
		<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
		<dict>
			<key>AAPL,ig-platform-id</key>
			<data>AAAWGQ==</data>
			<key>AAPL,slot-name</key>
			<string>Internal@0,2,0</string>
			<key>device-id</key>
			<data>FhkAAA==</data>
			<key>device_type</key>
			<string>VGA compatible controller</string>
			<key>hda-gfx</key>
			<string>onboard-1</string>
			<key>model</key>
			<string>Intel Skylake GT2 [HD Graphics 520]</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>13</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<true/>
			<key>Speed</key>
			<integer>20</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Clovy</string>
		<key>CustomIcons</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>ig-platform-id</key>
		<string>0x16190000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>#ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
			<string>\System\Library\Extensions\AppleIntelKBLGraphicsFramebuffer.kext</string>
		</array>
		<key>#KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fix Catalina ALC KP after wake (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>Y29tLmFwcGxlAF9fa2VybmVsX18A</data>
				<key>MatchOS</key>
				<string>10.15.2</string>
				<key>Replace</key>
				<data>bm90LmFwcGxlAF9fa2VybmVsX18A</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>USB Port Limit Patch 1 PMHeart/DalianSky</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port Limit Patch 2 PMHeart/DalianSky</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g+MP0w==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g+M/0w==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #3/4 10.14.x modify by DalianSky (credit PMheart)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port Limit Patch 4 PMHeart/DalianSky</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g/8PDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/8/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-Series-10.12)</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////Gw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-Series-10.12)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g710////EA==</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////Gw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 24</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g32MEA==</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g32MGw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>(c)Pike R. Alpha</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>Ym9hcmQtaWQ=</data>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>Ym9hcmQtaXg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Trim on SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QVBQTEUgU1NE</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelFrameBufferAzul</string>
				<key>Find</key>
				<data>AQAAAEAAAADWAAAABQUAAA==</data>
				<key>Replace</key>
				<data>AQAAAEAAAAAeAAAABQUAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, (lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-5GHz-US-FCC-dv</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
		</array>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>XhciPortLimit</key>
		<false/>
		<key>AppleCpuPmCfgLock</key>
		<true/>
		<key>AppleXcpmCfgLock</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<true/>
		<key>FuzzyMatch</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<true/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>001B1A63-C0A6-11E5-B6C6-1930C805A056</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
		<key>#NoCaches</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x00000000</string>
		<key>MLB</key>
		<string>C026524034I76600U</string>
		<key>ROM</key>
		<string>FC3FDB8811BD</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/30/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP132.88Z.F000.B00.1910301814</string>
		<key>Board-ID</key>
		<string>Mac-66E35819EE2D0D05</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C026524034I76600U</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>263.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE176</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro13,2</string>
		<key>SerialNumber</key>
		<string>C02SK6YTGYFH</string>
		<key>SmUUID</key>
		<string>001B1A63-C0A6-11E5-B6C6-1930C805A056</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
